@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --cor-letras:rgb(62, 62, 62);
    --cor-form:rgba(138, 43, 226, 0.2);
    --cor-tema: rgb(225, 225, 225);
    --cor-hover:blueviolet;
}

/* barra de navegação */
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.full-page{
    height: 5vh;
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 5px;
}

.logo{
    width: 60px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 50px;
    height: 30px;
}

nav ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: var(--cor-letras);
}

nav ul li a:hover{
    border-bottom: 3px solid var(--cor-hover);
    text-decoration: none;
    color: var(--cor-hover);
    font-weight: 900;
}


/*  area do formulario  */
.fundo{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 80%;
    height: 95%;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.form{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-form);
    padding: 40px;
}

form{
    height: 100%;
}

.form-image{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    padding: 1rem;
}

.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;

    background-color: var(--cor-form);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.perfil > div img{
    width: 50px;
}

.classe{
    display: flex;
}
.nome{
    margin-bottom: 10px;
}

.perfil p{
    margin-right: 10px;
    color: var(--cor-letras);
    font-weight: 600;
}



.funcoes{
    height: 250PX;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.funcoes ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.funcoes ul div li a{
    color: var(--cor-letras);
    height: 25px;
    font-weight: 600;
}



.form-header{
    color: var(--cor-letras);
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--cor-hover);
    margin: 0 auto;
    position: absolute;
    border-radius: 50px;
}

.tittle{
    margin: 15px;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    height: 50%;
}

.input-box{
    display: flex;
    flex-direction: column;
}

.input-box input, #modalidade, #estado{
    margin: 0.6rem 0;
    margin-bottom:20px;
    border:none;
    border-radius: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;;
    height: 20px;
    background-color: transparent;
    color: var(--cor-letras);
    font-weight: 600;
}

option{
    color: var(--cor-letras);
    font-weight: 600;
}

.input-box input:hover{
    background-color: rgba(128, 128, 128, 0.2);
    transition: all 0.5s;
}

.input-box input:focus-visible{
    outline: 1px solid rgba(128, 128, 128, 0.4);
}

.input-box label,
.gender-title h6{
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--cor-letras);
}

.input-box input::placeholder{
    color: var(--cor-form);
    font-weight: 600;
}

.gender-group{
    display: flex;
    justify-content: center;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-inputs{
    height: 10%;
}
.gender-input{
    margin-left: 20px;
    margin-right: 20px;
}

.gender-input input{
    margin-right: 0.1rem;
}

.gender-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: var(--cor-letras);
}

.obs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    width: 250px;
}

.obs input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.obs label{
    color: var(--cor-letras);
    font-weight: 600;
    font-size: 12px;
}

.agenda{
    display: flex;
    justify-content: center;
}
.box-hora  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-hora input{
    margin: 10px;
    font-weight: 600;
    color: var(--cor-letras);
    background-color: transparent;
    outline: none;
    border: none;
}

.box-hora label{
    font-weight: 600;
    color: var(--cor-letras);
    font-size: 12px;
}

.botao{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.botao > button:hover{
    background-color: #fff;
    color: var(--cor-hover);
    font-weight: 900;
    transition: 0.5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}



/*  area do rodapé  */
.footer{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myName{
margin-left: 10px;
background-color: var(--cor-tema);
padding: 5px;
border-radius: 10px;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.footer p{
    color: var(--cor-letras);
    margin: 0;
    font-weight: 600;
}

.links{
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 1s;
    width: 200px;
}

.links ul{
    display: flex;
    justify-content: flex-end;
}


.links img{
    padding: 0;
    width: 20px;
    margin: 15px;
}

.links img:hover{
    padding: 0;
    transition: all 1s;
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

button{
    background-color: blueviolet;
    border: none;
    padding: 5px;
    color: #fff;
    font-weight: 700;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
}

/*______________________________________________________________________________________*/

@media screen and (max-width:900px){
    .logo{
        width: 50px;
    }

    .container{
        width: 90%;
        height: 90%;
    }

    .form-header{
        height: 5%;
    }

    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 40%;
        padding: 0;
    }

    
    .input-group::-webkit-scrollbar{
    width: 3px;
    background: var(--cor-tema);
    }

    .input-group::-webkit-scrollbar-track{
        background: rgba(128, 128, 128, 0.5) ;
    }

    .input-group::-webkit-scrollbar-thumb{
        background-color: #fff;
        border-radius: 20px;
    }

    .input-box{
        margin: 10px;
    }

    .gender-inputs{
        height: 15%;
    }

    .gender-group{
        display: flex;
        padding: 0;
    }

    .gender-group input{
        margin-top: 5px;
    }

    .gender-input{
        font-size: 1px;
    }

    .form{
        width: 70%;
        padding: 1rem;
        display: flex;
    }

    .form > form{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .form-image{
        width: 30%;
    }

    .tittle h1{
        font-size: 15px;
    }

    .form-header{
        margin-bottom: 0;
    }

    nav ul li {
        display: inline-block;
        margin-right: 15px;
    }
    .botao{
        margin: 0;
    }
}

/*-----------------------------------------------*/

@media screen and (max-width:450px){

    .logo{
        display: none;
    }

    nav ul li a {
        font-size: 12px;
    }

    .container{
        width: 90%;
        height: 95%;
    }

    .input-group{
        margin-top: 20px;
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }

    .gender-inputs{
        margin-top: 10px;
    }

    .gender-group{
        flex-direction: column;
    }

    .gender-group input{
        margin-top: 10px;
    }

    .gender-input label{
        font-size: 10px;
    }

    .form{
        width: 70%;
        padding: 1rem;
    }

    .form > form{
        height: 100%;
    }

    .form-image{
        width: 30%;
    }

    .perfil{
        font-size: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .perfil p{
        margin: 0;
        margin-bottom: 10px;
    }

    .funcoes a{
        font-size: 15px;
    }

    .tittle > h1{
        font-size: 15px;
    }

    .footer p{
        font-size: 10px;
    }

    /*-- ajuste de altura das div's--*/

    .form-header{
        height: 5%;
    }

    .botao{
        margin-top: 20px;
    }

}

